body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

form {
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #34495e;
}
